.navigation {
    position: relative;
    &__checkbox {
        display: none;
    }
    &__button {
        background-color: $color-white;
        width: 7rem;
        height: 7rem;
        border-radius: 50%;
        position: fixed;
        top: 6rem;
        right: 6rem;
        z-index: 2000;
        box-shadow: 0 1rem 3rem rgba($color: $color-black, $alpha: 0.1);
        text-align: center;
        cursor: pointer;

        @include respond(tab-port) {
            top: 4rem;
            right: 4rem;
        }
        @include respond(phone) {
            top: 3rem;
            right: 3rem;
        }
    }
    &__background {
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        position: fixed;
        top: 6.5rem;
        right: 6.5rem;
        background-image: radial-gradient($color-primary-light, $color-primary-dark);
        z-index: 1000;
        transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);

        @include respond(tab-port) {
            top: 4.5rem;
            right: 4.5rem;
        }
        @include respond(phone) {
            top: 3.5rem;
            right: 3.5rem;
        }
    }
    &__nav {
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1500;
        opacity: 0;
        width: 0;
        transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    &__list {
        @include center-horizontal-vertical;
        list-style: none;
        text-align: center;
    }
    &__item {
        margin: 1rem;
        font-weight: 100;
    }
    &__link {
        &:link,
        &:visited {
            display: inline-block;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 3rem;
            font-weight: 300;
            color: $color-white;
            padding: 1rem 1.5rem;
            background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
            background-size: 240%;
            transition: all 0.4s;

            @include respond(phone) {
                font-size: 1.8rem;
            }
        }

        &:hover,
        &:active {
            background-position: 100%;
            color: $color-primary;
        }
    }

    &__checkbox:checked ~ &__background {
        transform: scale(80);
    }
    &__checkbox:checked ~ &__nav {
        opacity: 1;
        width: 100%;
    }

    // ICON
    &__icon {
        position: relative;
        margin-top: 3.4rem;
        &,
        &::before,
        &::after {
            display: inline-block;
            width: 3rem;
            height: 2px;
            background-color: $color-grey-dark-3;
        }
        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            transition: all 0.2s;
        }
        &::before {
            top: -0.8rem;
        }
        &::after {
            top: 0.8rem;
        }
    }

    &__button:hover &__icon::before {
        top: -1rem;
    }
    &__button:hover &__icon::after {
        top: 1rem;
    }

    &__checkbox:checked + &__button &__icon {
        background-color: transparent;
    }
    &__checkbox:checked + &__button &__icon::before {
        top: 0;
        transform: rotate(135deg);
    }
    &__checkbox:checked + &__button &__icon::after {
        top: 0;
        transform: rotate(-135deg);
    }
}
