.feature-box {
    background-color: rgba($color: $color-white, $alpha: 0.8);
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
    transition: all 0.2s;

    @include respond(tab-port) {
        padding: 2rem;
    }
    &__icon {
        padding: 10px;
        font-size: 6rem;
        margin-bottom: 0.5rem;
        background-image: linear-gradient(to right, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8));
        -webkit-background-clip: text;
        color: transparent;
        @include respond(tab-port) {
            margin-bottom: 0;
        }
    }

    &:hover {
        transform: translateY(-1.5rem) scale(1.03);
    }
}
