*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // this defines what 1rem is
    font-size: 62.5%; // 1rem = 10px(62.5%)..1rem=16px.by default by browser.

    @include respond(tab-land) {
        // width<1200?
        font-size: 56.25%; //  1rem = 9x,9/16=56.25%
    }

    @include respond(tab-port) {
        // width<900?
        font-size: 50%; // 1rem = 8px, 8/16=50%
    }

    @include respond(big-desktop) {
        font-size: 75%;
    }
}

body {
    box-sizing: border-box;
    padding: 3rem;
    @include respond(tab-port) {
        padding: 0;
    }
}

::selection {
    background-color: $color-primary;
    color: $color-white;
}
